div.main {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

nav.navbar {
  display: flex;
  height: 4em;
  width: 100%;
  background: #eee;
  align-items: center;
  padding: 4px;
}

#logoutButton {
  width: 200px;
  height: 50px;
  background: white;
  border-radius: 4px;
  font-family: verdana;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid #ddd;
  box-shadow: 0px 1px 2px #0000;
  transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}

#logoutButton:hover {
  box-shadow: 0px 1px 2px #0009;
}

#logoutButton:active {
  background-color: #ddd;
  box-shadow: 0px 1px 4px inset #0009;
}