div.main {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

nav.navbar {
  display: flex;
  height: 4em;
  width: calc(100% - 8px);
  background: #eee;
  align-items: center;
  padding: 4px;
}

#logoutButton {
  color: #757575;
  width: 200px;
  height: 50px;
  box-sizing: border-box;
  background: white;
  border-radius: 1px;
  font-family: verdana;
  line-height: 50px;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  transition: box-shadow 0.1s;
}

#logoutButton:hover {
  box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
}

#logoutButton:active {
  color: #6d6d6d;
  background-color: #eee;
  box-shadow: 0px 1px 4px inset #0009;
}

#logoutButton img {
  width: 36px;
  height: 36px;
  margin: 8px;
  border-radius: 4px;
}

#logoutButton span {
  position: absolute;
  text-align: center;
  width: calc( 200px - 50px);
}

div.visualizer {
  display: flex;
  flex-direction: row;
  padding: 4px
}
div.visualizer div {
  display:flex;
  flex-direction: column;
}

div.visualizer div span {
  flex-basis: 100%;
  padding: 4px;
  border-bottom: 1px solid #666;
}

div.visualizerLabel {
  border-right: 1px solid #666;
}

div.visualizerPixels {
  flex-grow: 1;
}

div.visualizerPixels span div {
	flex-direction: row;
}

.pixel {
	width: calc(100% - 8px);
	height: 10px;
	margin: 4px;
  background: #aaa;
}

.pixel[mood="happy"] {
  background: #3c6;
}

.pixel[mood="sad"] {
  background: #06c;
}

.pixel[mood="neutral"] {
  background: #ddd;
}

.pixel[mood="angry"] {
  background: #f30;
}

.pixel[mood="anxious"] {
  background: #a09;
}

.pixel[mood="excited"] {
  background: #fe0;
}

text {
  flex-grow: 1;
  padding: 0px 4px;
  border-bottom: 1px dashed #666;
}